<h2>Edit Delivery location</h2>

<%= render "form.html", Map.put(assigns, :action, delivery_location_path(@conn, :update, @delivery_location)) %>

<span><%= link "Back", to: delivery_location_path(@conn, :index) %></span>
